/*Global*/
body {
	background:#fff;
	font-family: 'Raleway', sans-serif;
	font-size: 1em;
	letter-spacing: 1px;
	color: #777;
	margin: 0;
	padding: 0;
}
/*繁體中文*/
body.Traditional{font-family: 'cwTeXHei', serif;letter-spacing:0;}

/*簡體中文*/
body.Simplified{font-family:'Noto Sans SC', sans-serif;letter-spacing:0;}

*{
	transition: all .3s;
	box-sizing: border-box;
}
a:link {
	color: #ff8800;
	text-decoration: none;
}
a:hover {
	color: #A68361;
	text-decoration: none;
}
a:visited {
	color: #EF7D00;
	text-decoration: none;
}
h1{
	font-size: 3.5em;
    line-height: 1.2em;
    color: #b99e63;
    font-weight: 400;
    letter-spacing: 1px;
    margin: 0;
}
p{
    font-size: 1.33em;
    line-height: 1.6em;
    margin: 0;
}
.app-logo{text-align: center;padding: 27px;}
.app-logo img{width: 134px;}
.w-block{
	padding:20px;
	margin:auto;
	text-align:center;
}
.clear:after{
    content: '';
    display: block;
    clear: both;
    height: 0;
}
/*freepik*/
.freepik{
    font-size: 0.7em;
    color: #ccc !important;
    position: absolute;
    z-index: 2;
    display: block;
    bottom: -18px;
    right: 10px;
}
/*Navigation*/
.menu {
	top:0px;
	width:100%;
	height:auto;
	background-color:#fff;
	z-index:100;
}
.container {
    width: 90%;
    max-width: 950px;
    margin: auto;
    text-align: center;
}
.logo {
	text-indent: -9999px;
    overflow: hidden;
    background: url(../images/pubu-logo.png) no-repeat;
    background-size: 85%;
    float: left;
    height: 60px;
    width: 281px;
}
.headerdl{
	float:right;
	text-align:right;
}
.headerdl img{
	display:inline;
	width:33px;
	height:33px;
	margin:15px 1.5px 0 1.5px;
}
.fb-like-box{
	float:right;
	text-align:right;
}
.fb-like-box img{
	display:inline;
	width: auto;
	height:33px;
	margin:15px 1.5px 0 6.5px;
}
.navigation{
	list-style: none;
	margin: 0;
}
.navigation li{
	padding:0 0 0 50px;
}
/*header*/
#header{
	background: url(../images/pubu_top.jpg) no-repeat;
    background-position: 0 -10px;
    background-size: cover;
	background-attachment: fixed;
	height: 810px;
	position: relative;
}
#header .app-logo{padding-top: 220px;}
#header .w-block{
	width: 690px;
	background: rgba(0,0,0,.25);
	color: #fff;
}
#header h1{
	color: #fff;
	font-weight: 500;}
#header p{
	font-size: 1.8em;
	line-height: 1.38em;
    font-weight: 300;
}


/*app download btn*/
.dlapp-btn{
   text-align: center;
   margin: 27px auto;
}
.dlapp-ios,
.dlapp-android{
    display:inline-block;
    margin:0 5px;
    width: 220px;
    height: 67px;
    cursor:pointer;
}
.dlapp-btn a{
    display:inline-block;
    width: 220px;
    height: 67px;
    text-indent: -9999px;
    overflow: hidden;
    opacity:0;
    filter: alpha(opacity=0);
    -webkit-transition: opacity 200ms linear;
    -moz-transition: opacity 200ms linear;
    -o-transition: opacity 200ms linear;
    -ms-transition: opacity 200ms linear;
    transition: opacity 200ms linear;
    cursor:pointer;
}
.dlapp-btn a:hover{
   opacity:1.0;
   filter: alpha(opacity=100);
   -webkit-transition: opacity 200ms linear;
   -moz-transition: opacity 200ms linear;
   -o-transition: opacity 200ms linear;
   -ms-transition: opacity 200ms linear;
   transition: opacity 200ms linear;
}
.dlapp-ios{
    background: url(../images/ios.png) no-repeat 0px 0px;
}
.dlapp-ios a{
    background: url(../images/ios.png) no-repeat -1px -67px ;
}
.dlapp-android{
    background: url(../images/google-play.png) no-repeat 0px 0px;
}
.dlapp-android a{
    background: url(../images/google-play.png) no-repeat 0px -67px ;
}
.download.mobile{
	display: none;
}
.download img {
    height: 50px;
    margin: 0 10px;
}

/*content*/
#content{text-align: center;}
#content h1{
	margin-bottom: 15px;
}
#content span.pc{
	display: block;
}
.piece{
	margin: 50px auto;
	width: 950px;
	max-width: 100%;
}
#piece1 img{
	max-width: 100%;
}
#piece1 .w-block{margin-top: -30px;}
#piece2.piece{
	margin: 0 auto;
    width: 100%;
    max-width: 1920px;
    height: 430px;
    background: url(../images/pubu_family.jpg) no-repeat center;
    background-size: cover;
    display: table;
}
#piece2 .w-block{
	padding: 20px;
    margin: auto;
    display: table-cell;
    vertical-align: middle;
}
#piece2 .w-block-content{
	width: 580px;
    margin: auto;
    background: rgba(141,109,100,.5);
    padding: 20px;
}
#piece2 h1{
	color:#dcc351;
}
#piece2 p{
	color: #f0ebeb;
}
#piece3{display: table;}
#piece3 img{
    width: 370px;
    float: left;
}
#piece3 .w-block{
    text-align: left;
    padding-left: 60px;
    display: table-cell;
    vertical-align: middle
}
#piece3 p{
	margin-left:10px;
}
#piece3 .pc{
    display: table-cell;
    vertical-align: middle;
}
#piece3 .mobile{display: none;}
#piece4{
	background: url(../images/pubu_download.jpg) center;
	background-size: cover;
	background-attachment: fixed;
	padding: 30px 0;
	width: 100%;
	margin-bottom: 0;
}
#piece4 .app-logo{
	padding-bottom: 0;
}
#piece4 .dlapp-btn{
	margin-top: 0;
}

/*footer*/
#footer{
	padding: 20px;
	text-align: center;
	font-size: 0.9em;
}


/*------------mobile-------------*/
@media screen and (max-width: 1680px) {
	#header {
	    background-size: cover;
	    background-position: 0 0;
	}
}
@media screen and (max-width: 1400px) {
	#header {
	    background-position: 0 0;
	    height: 750px;
	}
	#header .app-logo {
	    padding-top: 200px;
	}
	#piece2.piece {
	    height: 350px;
	}
}
@media screen and (max-width: 1025px) {
	.app-logo img {
	    width: 100px;
	}
	h1 {
	    font-size: 3em;
	    line-height: 1.1em;
	}
	#header {
	    background-position: 10% 0;
	    background-size: 100%;
	    background-attachment: inherit;
	    height: 550px;
	}
	#header h1 {
	    font-size: 2.3em;
    	line-height: 1em;
    	background-color: rgba(0,0,0,0.25);
    	padding: 20px;
	}
	#header p {
	    font-size: 1.4em;
	}
	#header .app-logo {
	    padding-top: 120px;
	}
	#header .w-block {
	    width: 550px;
	    background: rgba(0,0,0,.25);
	}
	#piece2.piece {
	    height: 300px;
	}
	#piece2 .w-block {
	    padding: 20px;
	    background: rgba(125,100,68,.65);
	}
	#piece2 h1{color:#ffdb5e;}
	#piece2 p{color: #fff;}
	#piece2 .w-block-content {
	    background: initial;
	    padding: 0;
	    width: auto;
	}
	#piece3{
		padding: 0 50px;
	}
	#piece3 img {
	    width: 100%;
	}
}
@media screen and (max-width: 950px) {
	#header {
	    background-position: 10% 0;
	    background-size: 130%;
	}
	.piece{
		width: 100%;
	}
	#piece3 .w-block {
	    padding: 0 0 0 30px;
	}
}
@media screen and (max-width: 850px) {
	.app-logo img {
	    width: 90px;
	}
	.dlapp-btn{
		transform: scale(.85,.85);
		margin: 20px auto;
	}
	#header {
	    height: 500px;
	}
	#header .app-logo {
	    padding: 100px 0 15px 0;
	}
	#piece3{
		padding: 0 30px;
	}
}
@media screen and (max-width: 767px) {
	.freepik{transform:scale(.8,.8);right:-15px;}
	.w-block,.w-block-content{
		width: 90%!important;
	}
	.dlapp-btn{display: none;}
	.app-logo {padding: 15px;}
	.app-logo img {width: 100px;}
	.download.mobile{
		display: block;
	    text-align: center;
	    position: fixed;
	    bottom: 0px;
	    width: 100%;
	    height: auto;
	    background-color: #ffffff;
	    z-index: 100;
	    padding: 10px 0;
	}
	#header{
		height: 400px;
		background-position: 0 10%;
    	background-size: 145%;
	}
	
	#header .app-logo,#header .w-block{
		position: relative;
		z-index: 2;
	}
	#header .w-block{background: rgba(0,0,0,.25);}
	#piece1 div.mobile{
		background: url(../images/pubu_cover_m.jpg) center;
		background-size: contain;
		padding-bottom: 45%;
	}
	#piece1 img{display: none;}
	#piece2.piece {
	    height: 400px;
	    background: url(../images/pubu_family_m.jpg) no-repeat center;
	    background-size: cover;
	    background-position: 0 10%;
	}
	#piece3{padding: 0;margin: 0;}
	#piece3 .pc{display: none;}
	#piece3 .mobile,#piece3 .w-block{
		width: 100%;
    	display: block;
	}
	#piece3 .mobile {
	    display: block;
	    width: 100%;
	    background: url(../images/pubu_shadows.png) repeat-x bottom;
	}
	#piece3 .mobile img {
	    width: 80%;
	    float: none;
	    padding-bottom: 36px;
	}
	#piece3 .w-block{
		text-align: center;
		padding: 0;
	}
	#piece3 p {margin-left: 0;}
	#piece4  h1 {margin-bottom: 30px;}
	#footer{
		margin-bottom: 60px;
		margin-top: -70px;
	}
}
@media screen and (max-width: 640px) {
	.logo{
		float: none;
    	margin: auto;
    	background-position: center;
    	background-size: 70%;
    	height: 45px;

	}

	#header h1 {
		background-color: rgba(0,0,0,0.25);
    	padding: 10px 0px;
	}
	.app-logo img {width: 80px;}
	h1 {
	    font-size: 2.3em;
	    line-height: 1.3em;
	    
}
	}
	p {
	    font-size: 1.1em;
	    line-height: 1.5em;
	}
	.w-block, .w-block-content {width: 100%!important;}
	#header h1 {
	    font-size: 2em;
	    line-height: 1em;
	}
	#header p {font-size: 1.2em;}
	.headerdl{display:none;}
	.fb-like-box{
		margin:-22px 1.5px 0 1.5px;
	}
	.fb-like-box img{
		width: 38px;
		height: auto;
	}
	#header {
	    height: 300px;
	    background-position: 0 10%;
	    background-size: 130%;
	}
	#header .app-logo {padding: 50px 0 5px 0;}
	#piece1 span.mobile{display: block;}
}
@media screen and (max-width: 460px) {
	h1 {
	    font-size: 2em;
	    line-height: 1.2em;
	}
	p {
	    font-size: 1em;
	    line-height: 1.5em;
	}
	#header{
		height: 270px;
		background-size: 160%;
	}
	#header .w-block {
		padding: 0;
		}
	#header h1 {
	    font-size: 1.5em;
	    line-height: 1em;
	    margin-top: 8px;
	    background-color: rgba(0,0,0,0.25);
    	padding: 10px;
	}	
	#header p {
		font-size: 1.1em;
	}
	#piece1 span.mobile{display: initial;}
	#piece2.piece {background-position: center;}
	#piece3 .mobile img {width: 100%;}
	.download img {
		width: 43%;
		height: auto;
	}
}
@media screen and (max-width: 360px) {
	#header{height: 250px;}
	#header h1 {
	    font-size: 1.3em;
	    line-height: 1em;
	    background-color: rgba(0,0,0,0.25);
    	padding: 5 px;
	}
	#header p {font-size: 1em;}
	.download img {width: 42%;}
}
.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}