

/* =============================================================================
pieces1
============================================================================= */
#pieces1 {
  margin: 0 auto !important;
}

#showcase {
  background: transparent;
  width: 100%;
  padding-top: 10px;
  width: 100% !important;
}

#nav {
  text-align: center;
}

#showcase img {
}

#showcase img:hover, #showcase img:active {
  transform: scale(1.1, 1.1);
}

/* =============================================================================
pieces1
============================================================================= */


/* =============================================================================
Header
============================================================================= */


#header {
  position: relative; 
  margin-top: -10vw;
}

/* =============================================================================
Header
============================================================================= */

/* =============================================================================
pieces2
============================================================================= */

video {
  width: 100% !important;
}

video source {
  width: 100% !important;
}

/* =============================================================================
pieces2
============================================================================= */
/* =============================================================================
piece3
============================================================================= */


#piece3{
  width: 100%;
  display: table;

}


#piece3 .pc img{
    width: 60vw;
}

=============================================================================
piece3
============================================================================= */

@media screen and (max-width: 1680px) {}

@media screen and (max-width: 1400px) {}

@media screen and (max-width: 1025px) {}

@media screen and (max-width: 950px) {}

@media screen and (max-width: 850px) {}

@media screen and (max-width: 767px) {}

@media screen and (max-width: 640px) {}

@media screen and (max-width: 460px) {}

@media screen and (max-width: 360px) {}
